@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans-bold-webfont.eot');
    src: url('../font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-bold-webfont.woff2') format('woff2'),
         url('../font/opensans-bold-webfont.woff') format('woff'),
         url('../font/opensans-bold-webfont.ttf') format('truetype'),
         url('../font/opensans-bold-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff2') format('woff2'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


.header-logo {
  border-bottom: 1px solid #a6a6a6;
  padding-bottom: 35px;
  text-align: center;
}
h2.block-heading, .pluss-sign {
  color: #4f4a4a;
  font-family: open_sansregular;
  font-size: 30px;
  text-align: center;
}
.header-logo > img {
  width: 65%;
}
.handmade-wrapper > h4 {
  padding-left: 21%;
  text-align: center;
}
.madeby-right-wrapper,.five-percent
{
  padding-top: 45px;
}
.madeby-right-wrapper
{

}


.five-percent-left-arrow,.five-percent-text
{
  float: right;
}
.five-percent-text {
  padding-left: 25px;
  width: 45%;
  margin-top: 80px;
}
.center-plus {
  margin-left: 1%;
  width: 5% !important;
}
.handmade-items {
  float: right !important;
  width: 45% !important;
}
.handmade-wrapper {
  text-align: right;
}

.social-goods {
  width: 45% !important;
}
.clear{
  clear: both;
}
.madeby-right-arrow
{
  text-align: left;
}
.madeby-right-img{
  margin-top: 54px;
  text-align: left;
  width: 38%;
}
.we-sell-wrapper {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 50px;
}
.keep-me-posted-wrap .form-list,.question-and-ans-list {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}
.keep-me-posted-wrap .form-list li {
  list-style: outside none none;
}
.keep-me-posted-wrap .form-list li .input-box {
  width: 60%;
}
.keep-me-posted-wrap .form-list li .input-box.right
{
  text-align: right;
  float: right;
}
.keep-me-posted-wrap .form-list li .input-box.left
{
  text-align: left;
  float: left;
}
.keep-me-posted-wrap .buttons-set {
  margin-bottom: 25px;
  margin-top: 5px;
  padding: 20px 0;
  text-align: center;
}
.keep-me-posted-wrap .button
{
  padding:15px 45px;
}
.keep-me-posted-wrap .button span
{
  font-size: 25px;
  font-family: 'open_sansregular';
  color: #4f4a4a;
}
.keep-me-posted-wrap .input-text {
  background-position: 5px 5px;
  background-repeat: no-repeat;
  background-size: 18px auto;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
  opacity: 0.7;
  padding-left: 30px;
}
.keep-me-posted-wrap .input-text:focus
{
  box-shadow: none !important;
}
.keep-me-posted-wrap .input-text-name {
  background-image: url("../images/user.png");
  
}
.keep-me-posted-wrap .input-text-mail
{
  background-image: url('../images/mail.png');
}




.profits-donated,.we-sell-wrapper {
  margin-top: 85px;
}
.five-percent-text p,.madeby-right-img p,.profits-donated p
{
  color: #2e2e2e;
  font-size: 17px;
  font-family: 'open_sansregular';
  line-height: 25px;
}
.profits-donated h2
{

}
.profits-donated p {
  margin-bottom: 30px;
  margin-top: 36px;
  padding: 0 165px;
}

.image-right
{
  text-align: right;
}
.image-left
{
  text-align: left;
}
.image-right img, .image-left img {
  height: auto;
  width: 80%;
}
.image-right, .image-left {
  margin-top: 35px;
  margin-bottom: 30px;
}
.Question-and-answer {
  padding: 5px 200px;
}
.question-and-ans-list li {
  font-family: "open_sansregular";
  line-height: 30px;
  list-style: outside none none;
  margin-bottom: 20px;
}
.question-and-ans-list .question
{
  color: #4f4a4a;
  font-size: 21px;

}
.question-and-ans-list .answer
{
  color: #6f6c6c;
  font-size: 16px;
}
.pluss-sign {
  font-size: 60px;
}
.social-wrapper h4, .handmade-wrapper h4 {
  color: #2e2e2e;
  font-size: 19px;
  margin-bottom: 10px;
}
/* media query */
@media screen and (max-width: 991px) {
        .madeby-right-wrapper {
          margin-top: 30px;
        }
        .Question-and-answer {
          padding: 5px 95px;
        }
        .profits-donated p {
          padding: 0 95px;
        }
        .header-logo > img {
          width: 85%;
        }
  }
  @media screen and (max-width: 767px) {
      .social-goods {
        margin-bottom: 40px;
        width: 100% !important;
      }
      .center-plus {
        margin-left: 0;
        width: 100% !important;
      }
      .handmade-items {
      float: right !important;
      margin-top: 29px;
      width: 100% !important;
    }
    .page-main .columns
    {
      display: block !important;
    }
    .profits-donated p {
        padding: 0 7px;
        text-align: justify;
      }
    .keep-me-posted-wrap .form-list li .input-box {
        float: none !important;
        margin: 0px auto !important;
        width: 100%;
    }
    .image-left,.image-right
    {
      text-align: center;
    } 
    .keep-me-posted-wrap .form-list li .input-box.right
    {
      margin-bottom: 25px !important;
    }
    .Question-and-answer {
        padding: 5px 7px;
      }
      .profits-donated, .we-sell-wrapper {
        margin-top: 15px;
      }
      .header-logo {
        
        padding-bottom: 15px;
        
      }
      .header-logo > img {
        width: 95%;
      }
      .question-and-ans-list .answer,.five-percent-text p, .madeby-right-img p, .profits-donated p
      {
          font-size: 14px;
      }
      .question-and-ans-list .question
      {
        font-size: 18px;
      }
      .Question-and-answer li {
          text-align: justify;
        }

  }

@media screen and (max-width: 550px) {
        .five-percent-text {
        margin-top: 60px;
        padding-left: 0;
        width: 53%;
      }
      .five-percent-left-arrow {
        float: left;
        text-align: center;
        width: 45%;
      }
      .madeby-right-wrapper, .five-percent {
        padding-top: 20px;
      }
      .image-right img, .image-left img {
        
        width: 96%;
      }
}
@media screen and (max-width: 550px){
  .we-sell-wrapper .container,.social-goods,.center-plus,.handmade-items
  {
    padding: 0px !important;
  }
}


.welcome
{
	background-color:red;
}