<?php 
	//echo "hello"; //die("sss");
?>

		<div class="header-logo">
			<img src="<?php echo $this->getViewFileUrl('Ced_Theme::images/logo.png')?>" />
		</div>
		
			<div class="we-sell-wrapper">
				<div class="container">
					<div class="we-sell">
						<h2 class="block-heading">We Sell...</h2>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 social-goods">
						<div class="social-wrapper">
							<h4>Social Enterprise Goods.</h4>
							<img class="we-images" src="<?php echo $this->getViewFileUrl('Ced_Theme::images/good_works.png')?>">
						</div>
						<div class="five-percent">
							<div class="five-percent-text">
								<p>50% of this company&#39;s
								profits are donated to 
								education in developing 
								countries.</p>
							</div>
							<div class="five-percent-left-arrow">
								<img class="we-images" src="<?php echo $this->getViewFileUrl('Ced_Theme::images/left-arrow.png')?>">
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 center-plus">
						<div class="plus-inner">
							<h4 class="pluss-sign">
								+
							</h4>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 handmade-items">
						<div class="handmade-wrapper">
							<h4>Handmade items.</h4>
							<img class="we-images" src="<?php echo $this->getViewFileUrl('Ced_Theme::images/bags.png')?>">
						</div>
						<div class="madeby-right-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="madeby-right-img col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<img class="we-images" src="<?php echo $this->getViewFileUrl('Ced_Theme::images/Landingnew.png')?>">
								<p>Made by Anne,
								an artist living in Boston.</p>
							</div>
							<div class="madeby-right-arrow col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<img class="we-images" src="<?php echo $this->getViewFileUrl('Ced_Theme::images/right-arrow.png')?>">
							</div>
						</div>
					</div>
				</div>
			</div>
		
		
		<div class="profits-donated">
			<h2 class="block-heading">All Profits Donated</h2>
			<p> ALL profits made on weshop.org are donated to causes voted on by our user base.  That’s right. 100%. We also have a Constitution outlining our operating rules which can be seen here, explaining how our business works.</p>
			<div class="keep-me-posted-wrap">
				<form>
					<ul class="form-list row">
	                    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	                        <div class="input-box right">
	                            <input type="text" title="user-name" id="name" class="input-text required-entry validate-name input-text-name" name="">
	                        </div>
	                    </li>
	                    <li class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	                        <div class="input-box left">
	                            <input type="text" title="Email Address" class="input-text input-text-mail required-entry validate-email" id="email" value="" name="">
	                        </div>
	                    </li>
                    </ul>
                    <div class="buttons-set">
		                <button id="send2" name="send" title="Login" class="button" type="submit">		<span><span>Keep me Posted</span></span>
		                </button>
            		</div>
				</form>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 image-right">
					<img class="we-images" src="<?php echo $this->getViewFileUrl('Ced_Theme::images/pro1.png')?>">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 image-left">
					<img class="we-images" src="<?php echo $this->getViewFileUrl('Ced_Theme::images/pro2.png')?>">
				</div>
			</div>
		</div>
		<div class="Question-and-answer">
			<h2 class="block-heading">Q&A</h2>
			<ul class="question-and-ans-list">
				<li class="question">
					When is weshop.org launching?
				</li>
				<li class="answer">
					<p>
						We plan to go on beta in late 2015. Launch is planned within the first six-eight months of 2016.
					</p>
				</li>
				<li class="question">
					How do you donate 100% of profits?
				</li>
				<li class="answer">
					<p>
						Our business is committed to pushing the limits of business into the unknown. Our target is to donate 100% of profits after salaries and expenses are paid off. To do this, we seek alternative means of financing (from foundations, grants, low-interest loans) which allow us to keep our vision in tact.
					</p> 
				</li>
				<li class="question">
					Why should I care?
				</li>
				<li class="answer">
					<p>
						Because the alternative sucks. 
					</p> 
					<p>
						We live in a world where companies are designed and created to maximize profits - often at the expense of our health, the environment and culture. It is time to put an end to this model, by 
							collectively adopting a new one. 

					</p>
				</li>
			</ul>
		</div>
	
